{% extends 'base.html.twig' %}

{% block title %}Hello User!{% endblock %}

{% block body %}
<style>

</style>

    {% for user in users %}
        <h1>{{ user.firstname }}  {{ user.lastname }}</h1>
    {% endfor %}
{% endblock %}
